{% extends 'base.html.twig' %}

{% block title %}Texte index{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row heigtSection justify-content-center align-items-center">
            <h1>Texte index</h1>

            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Location</th>
                    <th>Contenu</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for texte in textes %}
                    <tr>
                        <td>{{ texte.id }}</td>
                        <td>{{ texte.location }}</td>
                        <td>{{ texte.contenu }}</td>
                        <td>
                            <a href="{{ path('texte_show', {'id': texte.id}) }}">show</a>
                            <a href="{{ path('texte_edit', {'id': texte.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('texte_new') }}">Create new</a>
        </div>
    </div>
{% endblock %}
