{% extends 'base.html.twig' %}

{% block title %}New Texte{% endblock %}

{% block body %}
    <div class="container">
        <div class="row heigtSection justify-content-center align-items-center">
            <div>
                <h1>Create new Texte</h1>

                {{ include('texte/_form.html.twig') }}

                <a href="{{ path('texte_index') }}">back to list</a>
            </div>
        </div>
    </div>
{% endblock %}
