{% extends 'base.html.twig' %}

{% block title %}Texte{% endblock %}

{% block body %}
    <div class="container">
        <div class="row heigtSection justify-content-center align-items-center">
            <h1>Texte</h1>

            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ texte.id }}</td>
                </tr>
                <tr>
                    <th>Location</th>
                    <td>{{ texte.location }}</td>
                </tr>
                <tr>
                    <th>Contenu</th>
                    <td>{{ texte.contenu }}</td>
                </tr>
                </tbody>
            </table>

            <a href="{{ path('texte_index') }}">back to list</a>

            <a href="{{ path('texte_edit', {'id': texte.id}) }}">edit</a>

            {{ include('texte/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
