{% extends 'base.html.twig' %}

{% block title %}Edit Competence{% endblock %}

{% block body %}
    <div class="container">
        <div class="row heigtSection justify-content-center align-items-center">
            <div>

                <h1>Edit Competence</h1>

                {{ include('competence/_form.html.twig', {'button_label': 'Update'}) }}

                <a href="{{ path('competence_index') }}">back to list</a>

                {{ include('competence/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
