{% extends 'base.html.twig' %}

{% block title %}Competence index{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row heigtSection justify-content-center align-items-center">


            <h1>Competence index</h1>

            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Couleur</th>
                    <th>Lvl</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for competence in competences %}
                    <tr>
                        <td>{{ competence.id }}</td>
                        <td>{{ competence.nom }}</td>
                        <td>{{ competence.couleur }}</td>
                        <td>{{ competence.lvl }}</td>
                        <td>
                            <a href="{{ path('competence_show', {'id': competence.id}) }}">show</a>
                            <a href="{{ path('competence_edit', {'id': competence.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('competence_new') }}">Create new</a>
        </div>
    </div>
{% endblock %}
