{% extends 'base.html.twig' %}

{% block title %}New Competence{% endblock %}

{% block body %}
    <div class="container">
        <div class="row heigtSection justify-content-center align-items-center">
            <div>
            <h1>Create new Competence</h1>

            {{ include('competence/_form.html.twig') }}

            <a href="{{ path('competence_index') }}">back to list</a>
            </div>
        </div>
    </div>
{% endblock %}
