{% extends 'base.html.twig' %}

{% block title %}Competence{% endblock %}

{% block body %}

    <div class="container">
        <div class="row heigtSection justify-content-center align-items-center">
            <h1>Competence</h1>

            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ competence.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ competence.nom }}</td>
                </tr>
                <tr>
                    <th>Couleur</th>
                    <td>{{ competence.couleur }}</td>
                </tr>
                <tr>
                    <th>Lvl</th>
                    <td>{{ competence.lvl }}</td>
                </tr>
                </tbody>
            </table>

            <a href="{{ path('competence_index') }}">back to list</a>

            <a href="{{ path('competence_edit', {'id': competence.id}) }}">edit</a>

            {{ include('competence/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
