body{
    overflow-x: hidden;
}

@font-face {
    font-family: "poppins";
    src: url("../typo/Poppins-SemiBold.ttf") format("opentype");
}

@font-face {
    font-family: "poppinsR";
    src: url("../typo/Poppins-Regular.ttf") format("opentype");
}


.corps{
    transform: translate(-50%, -50%);
    position: absolute;
    top: 55%;
    left: 50%;
    width: 50%;


}

.tableauAuteur{
    margin-top: 20px;
}

.couverture{
    height: 100px;
}

form{
    font-family: poppinsR;
}


.menu{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: poppinsR;
    z-index: 2;

}

.accueil{
    font-family: poppins;
    display: inline-block;
}

.poppins{
    font-family: poppins;
    color: black;
}

.trais{
    color: black;
    height: 5px;
    width: 100%;
    background: black;

}


h1{
    font-family: poppins;
}

table tr:nth-child(odd){
    background-color: #e5e5e5;
}

table tr:nth-child(even){
    background-color: white;
}

a{
    padding-top: 10px;
}

thead th{
    background-color: #353535;
    color: white;
}

 input, optgroup, select, textarea {

    padding: 2px;
    border-color: black;
     margin: 5px;
}
.btn{
    margin-bottom: 20px;
    margin-top: 20px;
    border-color: black;
    background-color: white;
    display: inline-block;
}


.table thead th, .table td, .table th{
    border: none;
    font-family: poppinsR;
}

.imgButtons{
    height: 30px;
}

.imgButtonsT{
    height: 30px;
    float: right;
}

.heigtSection{
    height: 100vh;
}

.imgSlider{
    width: 500px;
}

/*------------Animatioooooooooooooooooooooooooooooooon-------------*/

.grandCercle{
    position: fixed;
    top: 25%;
    left: -5%;
    width: 520px;
    height: 520px;
    margin-left: -102px;
    margin-top: -102px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #42ffc0), color-stop(100%, #66009e));
    border-radius: 50%;
    z-index: -2;
}



.petitCercle{
    position: fixed;
    top: 25%;
    left: -5%;
    margin-left: -57px;
    margin-top: -57px;
    width: 430px;
    height: 430px;
    border-radius: 50%;
    background-color: white;
    z-index: -1;
}



.grandCercle2{
    position: fixed;
    top: -5%;
    left: 90%;
    width: 520px;
    height: 520px;
    margin-left: -102px;
    margin-top: -102px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #42ffc0), color-stop(100%, #66009e));
    border-radius: 50%;
    z-index: -2;
}



.petitCercle2{
    position: fixed;
    top: -5%;
    left: 90%;
    margin-left: -57px;
    margin-top: -57px;
    width: 430px;
    height: 430px;
    border-radius: 50%;
    background-color: white;
    z-index: -1;
}


.grandCercle3{
    position: fixed;
    top: 90%;
    left: 90%;
    width: 520px;
    height: 520px;
    margin-left: -102px;
    margin-top: -102px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #42ffc0), color-stop(100%, #66009e));
    border-radius: 50%;
    z-index: -2;
}



.petitCercle3{
    position: fixed;
    top: 90%;
    left: 90%;
    margin-left: -57px;
    margin-top: -57px;
    width: 430px;
    height: 430px;
    border-radius: 50%;
    background-color: white;
    z-index: -1;
}

.tourner:hover {
    animation: spin .7s infinite linear;
}





.arriveGauche{
    animation: arriveG 1s;
}

.arriveDroite{
    animation: arriveD 2s;
}

@-webkit-keyframes arriveG {
    0% {
        margin-left: -1400px;
    }
    100% {
        margin-left: 0 ;
    }
}

@-webkit-keyframes arriveD {
    0% {
        margin-right: -999px;
    }
    100% {
        float: right;
    }
}


@-webkit-keyframes spin {
     0% {
         transform: rotateZ(0deg);
     }
     100% {
         transform: rotateZ(360deg);
     }
 }

@-webkit-keyframes graw {
    0% {
        width: 50% ;
    }
    100% {
        width: 100% ;
    }
}
