{% extends 'base.html.twig' %}

{% block title %}Edit Projet{% endblock %}

{% block body %}
    <div class="container ">
        <div class="row heigtSection justify-content-center align-items-center">
            <div>
                <h1>Edit Projet</h1>

                {{ include('projet/_form.html.twig', {'button_label': 'Update'}) }}

                <a href="{{ path('projet_index') }}">back to list</a>

                {{ include('projet/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
