{% extends 'base.html.twig' %}

{% block title %}New Projet{% endblock %}

{% block body %}
    <div class="container">
        <div class="row heigtSection justify-content-center align-items-center">

            <div><h1>Create new Projet</h1>

            {{ include('projet/_form.html.twig') }}

            <a href="{{ path('projet_index') }}">back to list</a></div>
        </div>
    </div>
{% endblock %}
