{% extends 'base.html.twig' %}

{% block title %}Projet{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row heigtSection justify-content-center align-items-center">

            <h1>Projet</h1>

            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ projet.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ projet.nom }}</td>
                </tr>
                <tr>
                    <th>Text</th>
                    <td>{{ projet.text }}</td>
                </tr>
                </tbody>
            </table>

            <a href="{{ path('projet_index') }}">back to list</a>

            <a href="{{ path('projet_edit', {'id': projet.id}) }}">edit</a>

            {{ include('projet/_delete_form.html.twig') }}

        </div>
    </div>
{% endblock %}
