{% extends 'base.html.twig' %}

{% block title %}Portfolio Marianne Guerrero{% endblock %}

{% block body %}


    <div class="row heigtSection d-flex justify-content-center align-items-center">
        <div class="col-6 accueil r" >
            <h1 class="arriveGauche">Bienvenue sur le Portfolio</h1>
            <div class="trais arriveGauche"></div>
            <h1 class="arriveDroite float-right"> de Marianne Guerrero </h1>
        </div>
    </div>

    <div class="container-fluid heigtSection">
        <div class="row d-flex justify-content-center align-items-center">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="imgSlider d-block" src="https://media0.giphy.com/media/pJyj8qDMX9JSg/giphy.gif?cid=790b7611b50b8dd68aad6608e7ebe2129dd54bc8aa083bad&rid=giphy.gif" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="imgSlider d-block" src="https://media0.giphy.com/media/EPcvhM28ER9XW/giphy.gif?cid=790b7611eb4ac4827be256f969acf1c65280efebe9c92c16&rid=giphy.gif" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="imgSlider d-block" src="https://media0.giphy.com/media/KMFsaaayjDbHO/giphy.gif?cid=790b76117619b541f33e7ca06a85b963ed7c8b3e1119b57f&rid=giphy.gif" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row heigtSection">
            <div class="col-lg-12 d-flex justify-content-center align-items-center poppins" >
                {{ texte }}
            </div>
        </div>
    </div>

    <div class="container heigtSection">
        <div class="row ">
            <div class="col-lg-12 d-flex justify-content-center align-items-center poppins"><h2>Mes projets</h2></div>
            {% for projet in projets %}
                <div class="col-lg-4 d-flex justify-content-center align-items-center poppins">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ projet.nom }}</h5>
                            <div class="card-text">{{ projet.text }}</div>
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>
    </div>

    <div class="container">
        <div class="row d-flex justify-content-center align-items-center poppins">
            <canvas id="myChart"></canvas>

        </div>
    </div>



{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script>

        arrNoms =  '{{ arrNoms }}';
        arrNoms =  arrNoms.split(",");

        arrLvls =  '{{ arrLvls }}';
        arrLvls =  arrLvls.split(",");


        //pas réussi à utiliser mon objet json dans le temps impartie

        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'radar',
            data: {
                labels: arrNoms ,
                datasets: [{
                    label: 'Compétences',
                    data: arrLvls,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });





    </script>
{% endblock %}



