<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <script src="https://kit.fontawesome.com/35c9779a67.js" crossorigin="anonymous"></script>
    {% endblock %}

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light menu">
    <a class="navbar-brand" href="/accueil">Accueil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/texte">éditer textes</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/competence">éditer mes compétences</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/projet">éditer mes projets</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/reseau">éditer les réseaux sociaux</a>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right float-right">

            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Se déconnecter</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Se connecter</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

{% block body %}

{% endblock %}

<div class="cercles">
    <div class="petitCercle"></div>
    <div class="grandCercle tourner"></div>
</div>

<div class="cercles">
    <div class="petitCercle2"></div>
    <div class="grandCercle2 tourner"></div>
</div>

<div class="cercles">
    <div class="petitCercle3 "></div>
    <div class="grandCercle3 tourner"></div>
</div>



<footer class="page-footer poppins blue pt-4 mt-5">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase">Footer</h5>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Réseaux sociaux</h5>
                {% if reseaux is defined %}
                    {% for reseau in reseaux %}
                        <ul class="list-unstyled">
                            <li>
                                <a href="#!"><i class="{{ reseau.icone }}"></i> {{ reseau.nom }}</a>
                            </li>

                        </ul>
                    {% endfor %}
                {% else %}
                    <ul class="list-unstyled"></ul>

                {% endif %}
            </div>
            <div class="col-md-3 mb-md-0 mb-3">

                <h5 class="text-uppercase">Perso</h5>
                {% if texteFooter is defined %}
                <p>{{ texteFooter }}</p>
                {% endif %}

            </div>
        </div>
    </div>


</footer>
<!-- Footer -->


{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

{% endblock %}





</body>
</html>
