{% extends 'base.html.twig' %}

{% block title %}Edit Reseau{% endblock %}

{% block body %}
    <div class="container">
        <div class="row heigtSection justify-content-center align-items-center">
            <div>
                <h1>Edit Reseau</h1>

                {{ include('reseau/_form.html.twig', {'button_label': 'Update'}) }}

                <a href="{{ path('reseau_index') }}">back to list</a>

                {{ include('reseau/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
