{% extends 'base.html.twig' %}

{% block title %}Reseau index{% endblock %}

{% block body %}

    <div class="container mt-5">
        <div class="row heigtSection justify-content-center align-items-center">
            <h1>Reseau index</h1>

            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Icone</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for reseau in reseaus %}
                    <tr>
                        <td>{{ reseau.id }}</td>
                        <td>{{ reseau.nom }}</td>
                        <td>{{ reseau.icone }}</td>
                        <td>
                            <a href="{{ path('reseau_show', {'id': reseau.id}) }}">show</a>
                            <a href="{{ path('reseau_edit', {'id': reseau.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('reseau_new') }}">Create new</a>
        </div>
    </div>
{% endblock %}
