{% extends 'base.html.twig' %}

{% block title %}Reseau{% endblock %}

{% block body %}
    <div class="container">
        <div class="row heigtSection justify-content-center align-items-center">
            <div>
                <h1>Reseau</h1>

                <table class="table">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ reseau.id }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ reseau.nom }}</td>
                    </tr>
                    <tr>
                        <th>Icone</th>
                        <td>{{ reseau.icone }}</td>
                    </tr>
                    </tbody>
                </table>

                <a href="{{ path('reseau_index') }}">back to list</a>

                <a href="{{ path('reseau_edit', {'id': reseau.id}) }}">edit</a>

                {{ include('reseau/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
